
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


    <ul class="navbar-nav ml-auto">
        <li
            class="nav-item"><a class="nav-link" @Html.ActionLink("Xin Chào " + User.Identity.GetUserName() + "!", "Login", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li  class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    </ul>
    }
    }
    else
    {
    <li class="nav-item"><a class="nav-link" @Html.ActionLink("Đăng kí", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li class="nav-item"><a class="nav-link" @Html.ActionLink("Đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }

