@model Sukiya.Models.LoaiMon
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Loại Món</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiMon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaLoaiMon }) |
    @Html.ActionLink("Back to List", "Index")
</p>