
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!-- End header -->
<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/User/images/slider-01.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Sukiya Restaurant</strong></h1>
                        <p class="m-b-40">
                            Chào mừng đến với trang tin chính thức của Sukiya Việt Nam  <br>
                            Chúng tôi tự hào là chuỗi nhà hàng ẩm thực Nhật Bản lớn nhất thế giới.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/User/images/slider-02.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Sukiya Restaurant</strong></h1>
                        <p class="m-b-40">
                            Đội ngũ nhân viên chuyên nghiệp đuợc training một cách bài bản  <br>
                            theo phong cách phục vụ Nhật Bản.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/User/images/slider-03.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Sukiya Restaurant</strong></h1>
                        <p class="m-b-40">
                            See how your users experience your website in realtime or view  <br>
                            trends to see any changes in performance over time.
                        </p>
                        <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/Content/User/images/about-img.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Welcome To <span>Sukiya Restaurant</span></h1>
                    <h4>Little Story</h4>
                    <p>Sukiya là chuỗi nhà hàng thức ăn nhanh số 1 Nhật Bản, nơi cung cấp những bữa ăn ngon với giá cả phải chăng và dịch vụ tuyệt vời. Chúng tôi thành lập cửa hàng đầu tiên tại Nhật Bản vào năm 1982. Mỗi cửa hàng của chúng tôi kể câu chuyện về sự kết hợp giữa hiện đại với truyền thống, được lựa chọn để tạo ra một trải nghiệm độc đáo. </p>
                    <p>Hiện tại Sukiya có hơn 2500 chi nhánh tại Nhật Bản và trên toàn thế giới (Tính đến tháng 11 năm 2019).</p>
                    @*<a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-left">
                <p class="lead ">
                    " If you're not the one cooking, stay out of the way and compliment the chef. "
                </p>
                <span class="lead">Sukiya Matsumoto</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Best Seller</h2>
                    <p>Những món ăn bán chạy nhất </p>
                </div>
            </div>
        </div>

        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="~/Content/image/1.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Gyudon Cơm Bò Hầm</h4>
                        <p>Vị bò hầm kết hợp với gạo nhật thơm ngon.</p>
                        <h5>59000đ</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="~/Content/image/15.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Cà Ri Sukiya</h4>
                        <p>Cà ri đặc chế của Sukiya</p>
                        <h5>59000đ</h5>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="~/Content/image/11.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Mì Ramen Tokyo</h4>
                        <p>Mì Ramen dùng công thức đặc chế</p>
                        <h5>69000đ</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Gallery -->
<div class="gallery-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>
                </div>
            </div>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/image/99.png">
                        <img class="img-fluid" src="~/Content/image/99.png" alt="Gallery ~/Content/image">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/image/9999.jpg">
                        <img class="img-fluid" src="~/Content/image/9999.jpg" alt="Gallery ~/Content/image">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/image/999.jpg">
                        <img class="img-fluid" src="~/Content/image/999.jpg" alt="Gallery ~/Content/image">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/image/99999.jpg">
                        <img class="img-fluid" src="~/Content/image/99999.jpg" alt="Gallery ~/Content/image">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/image/9999999.jpg">
                        <img class="img-fluid" src="~/Content/image/9999999.jpg" alt="Gallery ~/Content/image">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a class="lightbox" href="~/Content/image/999999.jpg">
                        <img class="img-fluid" src="~/Content/image/999999.jpg" alt="Gallery ~/Content/image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->
<!-- Start Customer Reviews -->
<div class="customer-reviews-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Customer Reviews</h2>
                    <p>Nhận xét từ các thực khách</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto text-center">
                <div id="reviews" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner mt-4">
                        <div class="carousel-item text-center active">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/Content/User/images/profile-1.jpg" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
                            <h6 class="text-dark m-0">Business man</h6>
                            <p class="m-0 pt-3">
                                I enjoy going to Sukiya everytime. The mix of Japanese ingredients on Korean hot pot is very unique and enticing. Am rather disappointed because it's more expensive but the cheese seems to be low grade and can't taste anything. And the veggie is a bit too salty. Will stick to the kimchi one next time. Thanks for the creativity, Creative Eateries! More power to you!
                            </p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/Content/User/images/profile-3.jpg" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Hoang Pham</strong></h5>
                            <h6 class="text-dark m-0">Web Designer</h6>
                            <p class="m-0 pt-3">Thật tuyệt vời, kể từ lần đầu tiên đến với Sukiya vào năm 2020, tôi đã thực sự trờ thành một khác hàng thân quen với nhà hàng. Món tôi thích nhất là Gyudon Cơm Bò Hầm, hạt cơm mềm dẽo, đậm đà kết hợp với thịt bò hầm đặc biệt cảu nhà hàng kết hợp với nhau tạo nên 1 món ăn tổng hợp những tinh hoa trời đất ăn một lần là nhớ mãi.</p>
                        </div>
                        <div class="carousel-item text-center">
                            <div class="img-box p-1 border rounded-circle m-auto">
                                <img class="d-block w-100 rounded-circle" src="~/Content/User/images/profile-7.jpg" alt="">
                            </div>
                            <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Tấn Hưng</strong></h5>
                            <h6 class="text-dark m-0">Seo Analyst</h6>
                            <p class="m-0 pt-3">Quá tuyệt vời, từ khi tôi được anh bạn Pham Dự Hoàng dẫn đi ăn vào năm 2021 thì tôi đã thực sự nghiện hương vị này, hương vị đậm chất Nhật Bản nhưng vẫn pha trộng nhựng cái hay cảu hững nền ẩm thực khác, mang lại cho thuc74 khách một trãi nghiệm hương vị bùng nổ. Ngoài ra, các phục vụ của nhân viên cũng là một điểm cộng, mong là quán sẽ bán thêm hủ tiếu Mỹ Tho. </p>
                        </div>
                    </div> 
                    <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Customer Reviews -->
<!-- Start Contact info -->
